

div.container form
{
   margin-top: 3%;
   background: white;
   padding: 10%;
   margin-left: 15%;
   margin-right: 15%;
 }

div.container form h1
{
    font-weight: 400;
    color: #666666;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
}

.yes
{ background: #17b1f7;
  text-align: center;
  color: white;
  width: 300px;
  margin-left: 17%;
  margin-top: 50px;
}

.row {
    margin-bottom: 60px;
}

div.container form{ margin-top: 60px; margin-bottom: 100px; background: #fff; padding: 6%;  margin-left: 320px;}

.error_message{
    color:red;
}

.zhanghao_mima{
    font-size:14px;
    color:#999999;
    font-family: "Open Sans", sans-serif !important;;
}